@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/fields/build-style/style.css" as fields;

.routes-template-list__tabs-wrapper {
	border-bottom: 1px solid $gray-100;
	padding: 0 $grid-unit-30;
}

.routes-template-list-author-field__avatar {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 8px;
	opacity: 0;
	transition: opacity 0.1s ease-in;

	&.is-loaded {
		opacity: 1;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.routes-template-list-author-field__icon {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	color: $gray-700;
}

.routes-template-list-author-field__name {
	color: $gray-900;
}
