@use "@wordpress/base-styles/variables";

.boot-sidebar__scrollable {
	overflow: auto;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.boot-sidebar__content {
	flex-grow: 1;
	contain: content;
	position: relative;
}

.boot-sidebar__footer {
	padding: variables.$grid-unit-20 variables.$grid-unit-10 variables.$grid-unit-10 variables.$grid-unit-20;
}
