@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/base-styles/colors" as *;

.block-editor-block-variation-transforms {
	box-sizing: border-box;
	padding: 0 $grid-unit-20 $grid-unit-20 52px;

	&:where(fieldset) {
		// Reset `fieldset` browser defaults, keeping intentional padding.
		border: 0;
		margin: 0;
		min-inline-size: 0;
	}
}

.block-editor-block-variation-transforms__button {
	width: 100%;
	justify-content: center;
}
