@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.wp-block-widget-group {
	.widget-title {
		font-family: $default-font;
		font-size: 18px;
		font-weight: 600;
	}
}

.wp-block-widget-group__placeholder {
	.block-editor-inserter {
		width: 100%;
	}
}

// Force the appender to always have "light mode" styling as it appears in a
// light colored placeholder.
.is-dark-theme .wp-block-widget-group__placeholder .block-editor-button-block-appender {
	box-shadow: inset 0 0 0 $border-width $gray-900;
	color: $gray-900;
}
