@use "@wordpress/base-styles/variables";

.boot-canvas-back-button {
	position: absolute;
	top: 0;
	left: 0;
	height: variables.$header-height;
	width: variables.$header-height;
	z-index: 100;
}

.boot-canvas-back-button__container {
	position: relative;
	width: 100%;
	height: 100%;
}

.boot-canvas-back-button__link.components-button {
	width: variables.$header-height;
	height: variables.$header-height;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--wpds-color-bg-surface-neutral-weak);
	text-decoration: none;
	padding: 0;
	border-radius: 0;

	@media not (prefers-reduced-motion) {
		transition: outline 0.1s ease-out;
	}

	&:focus:not(:active) {
		outline:
			var(--wpds-border-width-interactive-focus) solid
			var(--wpds-color-stroke-focus-brand);
		outline-offset: calc(-1 * var(--wpds-border-width-interactive-focus));
	}
}

.boot-canvas-back-button__icon {
	position: absolute;
	top: 0;
	left: 0;
	width: variables.$header-height;
	height: variables.$header-height;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsla(0, 0%, 80%);
	pointer-events: none;

	svg {
		fill: currentColor;
	}

	&.has-site-icon {
		background-color: hsla(0, 0%, 100%, 0.6);
		-webkit-backdrop-filter: saturate(180%) blur(15px);
		backdrop-filter: saturate(180%) blur(15px);
	}
}

// Remove the header slide-in animation so the back logo does not move.
.interface-interface-skeleton__header {
	margin-top: 0 !important;
}
