@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/fields/build-style/style.css" as fields;

.routes-template-part-list__tabs-wrapper {
	border-bottom: 1px solid $gray-100;
	padding: 0 $grid-unit-30;
}
