@use "@wordpress/base-styles/variables" as *;

.lazy-editor-block-preview__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	border-radius: $radius-medium;

	.dataviews-view-grid & {
		.block-editor-block-preview__container {
			height: 100%;
		}
	}

	.dataviews-view-table & {
		width: 96px;
		flex-grow: 0;
		text-wrap: balance; // Fallback for Safari.
		text-wrap: pretty;
	}
}
