@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.editor-global-styles-header__description {
	padding: 0 $grid-unit-20;
}

.editor-global-styles-header {
	// Need to override the too specific bottom margin for complementary areas.
	margin-bottom: 0 !important;
}
