.wp-block-tabs.wp-block {
	.wp-block-tabs__tab-item__inserter {
		height: 100%;
		display: flex;
		align-items: center;
	}
	.wp-block-tab.wp-block {
		display: flex;
		flex-direction: column;
		gap: var(--wp--style--unstable-tabs-gap);
		& > section {
			flex-grow: 1;
			& > .wp-block:first-child {
				margin-top: 0;
			}
			& > .wp-block:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.is-vertical {
		& > .wp-block-tab.wp-block {
			flex-direction: row;
		}
		.wp-block-tabs__tab-item__inserter {
			align-items: flex-start;
			margin-right: -1px; // Hack to get the inserter to align with the tab border
		}
	}
}
