@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.block-editor-content-only-controls__media {
	width: 100%;
	box-shadow: inset 0 0 0 $border-width $gray-400;

	&:focus:not(:disabled) {
		// Allow smooth transition between focused and unfocused box-shadow states.
		box-shadow: 0 0 0 currentColor inset, 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
	}
}

.block-editor-content-only-controls__media-replace-flow {
	// Required, otherwise the width collapses.
	display: block;
}

.block-editor-content-only-controls__media-row {
	align-items: center;
}

.block-editor-content-only-controls__media-placeholder {
	width: 24px;
	height: 24px;
	border-radius: $radius-small;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	display: inline-block;
	padding: 0;
	background:
		$white
		linear-gradient(-45deg, transparent 48%, $gray-300 48%, $gray-300 52%, transparent 52%);
}

.block-editor-content-only-controls__media-title {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

block-editor-content-only-controls__media-thumbnail {
	width: 100%;
	height: 100%;
	border-radius: $radius-small;
	align-self: center;
}
