@use "@wordpress/base-styles/variables" as *;
@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/patterns/build-style/style.css" as patterns;

.routes-pattern-list__tabs-wrapper {
	border-bottom: 1px solid $gray-100;
	padding: 0 $grid-unit-30;
}

// Colorize synced pattern badges in grid view
.dataviews-view-grid__badge-fields {
	.dataviews-view-grid__field-value:has(.routes-pattern-list__field-sync-status-fully) {
		background: rgba(var(--wp-block-synced-color--rgb), 0.04);
		color: var(--wp-block-synced-color);
	}
}
